# Ignore everything inside deepfake-frontend
deepfake-frontend/*

# Keep (do not ignore) src and public folders and everything inside them
!deepfake-frontend/src/
!deepfake-frontend/src/**
!deepfake-frontend/public/
!deepfake-frontend/public/**